.preloader {
	overflow: hidden;
	opacity: 1;
    z-index: 20000;
}

.preloader__background {
	position: fixed;
	inset: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #6366f1;
	color: white;
}

.preloader__text {
	position: fixed;
	bottom: 15%;
	right: 0;
	transform: translate(-50%, -50%);
	overflow: hidden;
	
	z-index: 3;
	color: #c7d2fe;
}

.preloader__text span {
	display: block;
}
