:root {
  --sidebar-width: 40vw;
  --toggler-size: 30px;
}

.sidebar {
  width: var(--sidebar-width);
  transform: translateX(calc(var(--sidebar-width) * -1));
  background-image: url(/public/images/room.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  transition: transform .6s, background-position 1s .6s;
}

.sidebar.open {
  opacity: .9;
  transform: translateX(0);
  background-position: 0 0;
}

.content, .content div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content div[id] {
  display: none;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 3rem;
  line-height: 5rem;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: gold;
}

.menu-toggler {
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size); 
  cursor: pointer;
  z-index: 1;
}

.menu-toggler__line {
  height: calc(var(--toggler-size) / 12);
  background: #312e81;
  position: absolute;
  left: 0;
  right: 0;
  transition-property: transform, opacity;
  transition-duration: .5s, .25s;
  transition-delay: 0s, .5s;
  animation-name: slidein;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
  transition-delay: .25s, 0s;
}

.menu-toggler__line:nth-child(2) {
  top: calc(var(--toggler-size) / 5 * 2);
  animation-duration: .6s;
}

.menu-toggler__line:nth-child(3) {
  top: calc(var(--toggler-size) / 5 * 4);
  animation-duration: .7s;
}

.input-toggler {
  display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
  background: #3730a3;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
  transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
  opacity: 0;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
  transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
}

@keyframes slidein {
  from {left: -200%; right: 200%;}
  to {left: 0; right: 0;}
}
