@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Hind+Siliguri:wght@300;400;500&family=Inter:wght@100..900&family=WindSong&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* ========= GRADIENT TEXT ========= */
.app-title {
    background: linear-gradient( rgb(4, 127, 243) 0%, rgb(137, 43, 225) 90%);   
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 4px;
    padding-bottom: 1px;
    
}

.app-title:hover {
    background: linear-gradient( rgb(34, 147, 252) 0%, rgb(155,81,224) 90%);
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 4px;
    padding-bottom: 1px;
}

.app-title-light {
    background: linear-gradient( rgb(34, 147, 252) 0%, rgb(155,81,224) 90%);
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 4px;
    padding-bottom: 1px;
}
.app-title-light:hover {
    background: #93c5fd;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 4px;
    padding-bottom: 1px;
}


/*========== MOTION TEXT ANIMATION ==========*/

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.motion-text {
    display: inline-block;
    white-space: nowrap;
    animation: slideLeft 40s linear infinite;
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating-icon {
  animation: rotateIcon 3s linear infinite;
}


/* GLASS EFFECT */
.glass {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease, box-shadow 0.5s ease, backdrop-filter 0.5s ease;
}
.glass-strong {
    background: rgba( 255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: background-color 0.5s ease, box-shadow 0.5s ease, backdrop-filter 0.5s ease;
}

.glass-light {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease, box-shadow 0.5s ease, backdrop-filter 0.5s ease;
}
.glass-blue {
    background: rgba(67, 56, 202, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(99, 102, 241, 0.01);
}


/* ========== MENU ANIMATION TO OPEN ========== */


.menu-open {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
    transition: opacity 0.5s ease, transform 0.8s cubic-bezier(0, .52, 0, 1);
}

.menu-closed {
    opacity: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: opacity 0.5s ease, transform 0.8s ease-in-out;
}

.submenu-open {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
    transition: opacity 2.5s step-start, transform 1.8s cubic-bezier(0, .52, 0, 1);
}

.submenu-closed {
    opacity: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: opacity 3s ease, transform 0.8s ease-in-out;
}

.menu-img {
    background-image: url(/images/room.jpeg);
    background-size: cover;
    background-position: center;
    
}

/* ========== MENU HERO ANIMATION TO OPEN ========== */

.menu-open-right {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
    transition: opacity 0.5s ease, transform 1.8s cubic-bezier(0, .52, 0, 1);
}

.menu-closed-right {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
    transition: opacity 0.5s ease, transform 0.8s ease-in-out;
}

.right-submenu-open {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
    transition: opacity 2.5s ease-in-out, transform 1.8s cubic-bezier(0, .52, 0, 1);
}

.right-submenu-closed {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
    transition: opacity 3s ease, transform 0.8s ease-in-out;
}
.menu-img-hero {
    background-image: url(/images/room-right.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box; 
}



@media (max-width: 620px) {
    .menu-img-hero {
        width: 91.5vw;
    }   
}



body {
    overflow-x: hidden;
}

.sticky-element {
    position: -webkit-sticky; 
    position: sticky;
    top: 3rem;

} 
.sticky-element-mobile {
    position: -webkit-sticky; 
    position: sticky;
    top: 1.6rem;

} 




@layer base {

    html, body {
        @apply w-full h-full font-[62.5%] box-border m-0 p-0 font-sans bg-slate-300 
    }

    button, a {
        @apply cursor-pointer
    }
}

@layer components {
    .button {
        @apply font-anybody text-center font-bold tracking-widest focus:outline-none border-2  rounded-lg uppercase;
    }
}

@layer utilities {
    /*========= BUTTONS =========*/
    .btn-book-online {
        @apply button text-indigo-50 bg-custom-gradient-btn  border-indigo-50 z-[2]
            
    }
    .btn-book-online-transparent {
        @apply button text-indigo-900 bg-indigo-50 bg-opacity-45 border-2  border-indigo-50 z-[2]
            
    }

    .transparent-btn {
        @apply button text-indigo-400 bg-transparent  
            border-indigo-400 z-[2]
    }

    /* =========== NAVBAR MENU BTN =========== */
    .line {
        @apply w-[2.2rem] lg:w-[3.5rem] h-[.1rem] bg-indigo-900 transition-all duration-300
    }

    .line-1, .line-3 {
        @apply w-[1.5rem] lg:w-[2.2rem] transition-all duration-300
    }

    /* .menu-icon:hover .line {
        width: 3.5rem;
    }

    @media screen and (max-width: 320px) {
        .menu-icon:hover .line {
        width: 1.5rem;
    }
    } */

    .line-1.active {
        @apply transform rotate-[-405deg] -translate-x-[5px] translate-y-[6px] w-[2.5rem];
    }

    .line-2.active {
        @apply opacity-0;
    }

    .line-3.active {
        @apply transform rotate-[405deg] -translate-x-[5px] -translate-y-[6px] w-[2.5rem];
    }

    /* =========== FLOATING MENU BTN =========== */

    .lines {
        @apply w-6 lg:w-[2.2rem] h-[.12rem] bg-indigo-900 transition-all duration-300;
    }

    .sup-line.active {
        @apply transform rotate-[-405deg] translate-y-[6px] lg:translate-y-[9px] ;
    }

    .medium-line.active {
        @apply opacity-0;
    }

    .inf-line.active {
        @apply transform rotate-[405deg] -translate-y-[6px] lg:-translate-y-[9px] ;
    }

    /* =========== TEXT =========== */

    .text-links {
        @apply font-[500] xl:font-[600] text-indigo-900
            text-[.9rem]
            lg-sm:text-[1.1rem] 

    }

    .text-min-dark {
        @apply  text-indigo-900 font-[400] xl:font-[500]
            text-[.78rem]
            md:text-[.88rem]
            lg:text-[.95rem]
            xl:text-[1rem]
    }

    .text-min-white {
        @apply text-indigo-300 font-[400]
            text-[.85rem]
            md:text-[.9rem]
            xl:text-[1rem]
    }

    .text-mayus-dark {
        @apply text-[1rem] text-indigo-900 font-[600] uppercase
    }

    .text-mayus-dark {
        @apply font-anybody font-[700] 2xl:font-[800] text-indigo-900 uppercase
        text-sm 
        md:text-base 
        lg-sm:text-[1.1rem]
        lg:text-xl 
        xl:text-[1.2rem]
    }

    .text-questions {
        @apply text-indigo-900 font-[400] hover:text-indigo-100
            text-[.78rem] 
            
            2xl:text-[1rem]
    }

    .text-motion {
        @apply font-anybody font-[500]
        text-[2rem]
        md:text-[2.5rem]
        lg-sm:text-[2.8rem]
        2xl:text-5xl 
    }

    .text-p1 {
        @apply text-indigo-900 font-[500] 
            md:text-[1rem] 
            base:text-[1.1rem] 
            lg:text-[1.1rem] 
            xl:text-[1.1rem]
            2xl:text-[1.26rem]
    }

    .text-p2 {
        @apply text-indigo-200 font-[400]
            text-[.78rem] 
            md:text-[.88rem] 
            base:text-[1rem] 
            lg:text-[1rem] 
            xl:text-[1rem]
            2xl:text-[1.08rem]
    }
    
    .title-h1 {
        @apply text-indigo-900 font-[900]
            text-[2.2rem] 
            md:text-[2.8rem] 
            base:text-[3.3rem] 
            lg-sm:text-[4.1rem] 
            lg:text-[4rem] 
            xl:text-[3rem] 
            2xl:text-[4.8rem]  
            leading-[.9em]
    }
    .title-h2 {
        @apply font-sans text-indigo-900 font-bold
            text-[1.7rem] 
            md:text-4xl 
            lg-sm:text-[3.1rem]
            xl:text-[2.8rem]
            3xl:text-6xl 
            leading-[1em] 
            lg-sm:leading-[1.1em]
            
            
    }
    .title-h3 {
        @apply font-sans text-indigo-900 font-bold
            text-[1.3rem]            
            md:text-[1.5rem] 
            base:text-[1.8rem]
            lg-sm:text-[2rem]
            lg:text-[2.2rem]
            xl:text-[2.8rem]
            2xl:text-6xl 
            leading-[35px] 
            xl:leading-[70px]   
    }

    .title-h4 {
        @apply font-anybody text-zinc-50 font-[500] uppercase
            text-[1.2rem]
            lg-sm:text-[1.35rem]
            xl:text-[1.5rem]
    }

    .title-h5 {
        @apply font-anybody text-zinc-50 font-[500] uppercase
            text-[1.2rem]
            xl:text-[1.8rem]
    }

    .title-medium {
        @apply font-bold tracking-wider 
        text-2xl 
        md:text-3xl 
        xl-sm:text-[1.7rem]
        xl:text-[2rem] 
        2xl:text-[2.8rem]
                                        
    }

    .title-sm {
        @apply font-[600] tracking-wide
            text-[1.05rem]
            xl:text-[1.26rem]
    }

    .title-cards {
        @apply font-[700] font-anybody text-indigo-50 uppercase
            text-[1.1rem]
            md:text-[1.4rem]
            3xl:text-[3rem]
    }
     
    .title-links {
        @apply  text-[1.2rem] md:text-[2rem] lg:text-[2rem] leading-[16px] md:leading-[18px] lg:leading-[20px] font-anybody font-[700] uppercase
    }

    .title-questions {
        @apply text-indigo-900 font-[500] hover:text-indigo-100
            text-[.9rem] 
            text-[1rem]
            2xl:text-[1.26rem]
    }

    .title-contact {
        @apply text-indigo-900 uppercase font-[700]
            text-[.9rem]
            md:text-[.96rem]
            lg-sm:text-[1.1rem]
    }

    .big-title {
        @apply  font-[800] text-indigo-900 leading-[150px]
            text-[4rem]
            2xl:text-[8rem]
    }

    .bigger-title {
        @apply text-[11rem] font-[800] text-indigo-900 leading-[150px]
    }

    .work__photo-item {
        @apply absolute w-full h-full cursor-pointer rounded-[20px] overflow-hidden
    }

    .work__photo-item img {
        @apply block w-full h-full object-cover 
    }

}